body
{ 
    font-family: sans-serif; 
    padding: 20px; 
}

nav 
{   background: #eee; 
    padding: 10px; 
    position: sticky; 
    top: 0; 
}
section 
{ 
    height: 300px; 
    padding-top: 40px; 
} 
img 
{ 
    max-width: 100%; 
    height: auto; 
} 
